header {
    text-align: center;
    font-family: Allura;
    font-size: 5em;
}

.container {
    max-width: 1500px;
    margin: auto;
}

a {
    color: #B200FF;
    text-decoration: none;
}

h1 {
    padding: 1%;
    font-size: 2.6em;
}

h2 {
    padding: 1%;
    font-size: 2em;
}

hr {
    border: 2px solid #fff;
    border-radius: 10px;
}

hr:last-child {
    border: 0px solid #fff;
}

p {
    font-size: 1.5em;
}

.pageTitle {
    text-align: center;
    color: #FF0000;
    text-shadow: 2px 2px #ddb4b4;
    font-size: 4em;
    font-family: Ephesis;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 10px;
    text-decoration: underline;
}

#ja {
    width: 70%;
    margin: auto;
}

/* Navigation Bar */

#nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 0 40px;
    border-top: 1px solid #B200FF;
    border-bottom: 1px solid #B200FF;
    color: #B200FF;
}

.nav-item {
    flex-direction: row;
    list-style: none;
}

.phone {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 799px) {
    #nav {
        display: none;
    }
}

@media (min-width: 800px) {
    #phonenav {
        display: none;
    }
}

/* Art Homepage Styling */

#art {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-left: 50px;
    margin-right: 50px;
}

.display {
    position: relative;
    width: 300px;
    height: 300px;
    border: 5px double #FFBB28;
    object-fit: cover;
    padding: 25px;
    margin: 20px;
    background-color: #FFF2D6;
    transform: transform .2s;
}

.display:hover {
    transform: scale(1.1);
    opacity: 40%;
}

#art h2 {
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: -125px;
    font-size: 2.5em;
    text-shadow: 3px 3px #000;
    font-family: Fondamento;
}

.frame {
    margin-bottom: 45px;
}

.page-wrapper h3 {
    text-align: center;
    font-family: Fondamento;
    font-size: 2.5em;
}

/* Phone Navigation Dropdown */

#phonenav {
    text-align: center;
    background-color: #FFBB28;
    color: #fff;
    padding: 0 5px;
    margin: 0 30%;
    border-radius: 10px;
    list-style: none;
}

.dropdown-content {
    display: none;
  }

.show {
    display: block;
  }

.phone a:hover {
    color: #fff;
  }

/* Code for rotating sunflower art */

.rotate {
    animation: rotation 10s infinite linear;
    position: absolute;
    left: 20%;
    z-index: 2;        
    width: 100px;
    top:150px;
  }

@media (max-width: 450px) {
    .rotate {
        width: 75px;
        top:75px;
    }
}

@media (min-width: 800px) and (max-width: 1400px) {
    .rotate {
        width: 150px;
        top: 50px;
        left: 50px;
    }
}
  
@media (min-width: 1400px) and (max-width: 2000px) {
    .rotate {
        width: 275px;
        top: 50px;
        left: 50px;
    }
}

@media (min-width: 2000px) {
    .rotate {
        width: 350px;
        top: 50px;
        left: 10%;
    }
}
    
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
      
  }

/* Code for art style pages */

.examples {
    display: flex;
    flex-wrap: wrap;  
    align-items: flex-start;
    justify-content: space-around;
}

.example-box {
    flex: 1 1 15%;
    padding: 20px;
    margin: 20px;
    border: 5px solid #FF0000;
    max-width: 275px;
}

.example-img { 
    margin: auto;
    justify-content: space-around;
}

.example-img img {
    max-width: 275px;    
    margin: auto;
    height: 275px;
    object-fit: cover;
    box-shadow: 3px 3px 5px #800101;
}

.link-img { 
    margin: auto;
    justify-content: space-around;
}

.link-img img {
    width: 275px;    
    margin: auto;
    height: 275px;
    object-fit: cover;
}

.caption {
    text-align: center;
}

.bigImage {
    position: absolute;
    transform: scale(4);
    /* width: 1vw; */
    z-index: 10;
}

/* Code for informational pages */

.mainBody {
    text-align: center;
}

#embiggen {
    position: absolute;
    z-index: 10;
    text-align: center;
    margin: auto;
}

#enlarge {
    width: 85%;
}