.portfolio-bg {
    background: url(images/embossed.png);
    background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
    color: #511231;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 6em;
    font-family: Allura;
}

h2 {
    margin-left: 25px;
    font-size: 2.5em;
    margin-top: 20px;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
    margin-left: -10px;
}

p {
    font-size: 2rem;
    margin: 30px 50px;
    text-indent: 25px;
}

a {
    text-decoration: none;
    
}

.button {
    text-align: center;
}

.btn {
  background-color: #C1809D;
  border: 2px solid #5e0b30;
  border-radius: 10px;
  color: #fff;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
}

/* .examples {
    margin-left: 25px;
    font-size: 2rem;
    margin-top: -10px;
} */

section > h3 {
    text-indent: 100px;
}

/* Tablet Responsiveness (medium screen size) */
.bodybg {
    background-color: #DDE2DB;
    border: 6px solid #bec9bb;
    width: 575px;
    margin: -12px auto;
    padding-bottom: 100px;
}
#heading {
    border-radius: 0px 0px 20px 20px;
    width: 530px;
    margin: 0 20px;
    box-shadow: 3px 3px #89516B;
}
.right {
    background: linear-gradient(to bottom, #C1809D 0%, #C1809D 60px,#DEB8CA 100px, #DEB8CA 100%);
    border-radius: 25px;
    width: 530px;
    margin: 33px 25px 0 20px;
    padding-top: 1px;
    float: none;
    box-shadow: 3px 3px #89516B;
}
.sidebar {
    background: linear-gradient(to bottom, #C1809D 0%, #C1809D 60px,#DEB8CA 100px, #DEB8CA 100%);
    border-radius: 25px;
    width: 530px;
    margin: 33px 25px 0 25px;
    padding-top: 1px;
    box-shadow: 3px 3px #89516B;
    }
#hr {
    width: 350px;
    margin-left: 90px;
}
    

/* Phone Responsiveness (small screen size) */
@media (max-width: 800px) {
    .bodybg {
        width: 350px;
        margin: -12px auto;
    }
    #heading {
        width: 315px;
    }
    .right {
        width: 315px;
        margin: 33px 25px 0 20px;
        padding-top: 1px;
        float: none;
    }    
    .sidebar {
        width: 315px;
        margin: 33px 25px 0 15px;
        padding-top: 1px;
        }
    #hr {
        width: 200px;
        margin-left: 70px;
    }   
    p {
        font-size: 1.3em;
    }
}

/* Full Screen Responsiveness (large screen size) */
@media (min-width: 1300px) {
    .bodybg {
        width: 1200px;
        margin: -12px auto;
        padding-bottom: 150px;
    }
    #heading {
        width: 1160px;
    }
    .right {
        width: 660px;
        float: right;
        margin: 33px 20px 0 25px;
        padding-top: 1px;
    }    
    .sidebar {
        width: 470px;
        margin: 33px 25px 0 25px;
        padding-top: 1px;
        }
    #hr {
        width: 300px;
        margin-left: 70px;
    }   
}
