.index-bg {
    background: url(images/background.png);
    background-size: cover;
}

.page-wrapper {
    background-image: linear-gradient(to top, #efc8c9, #cc7075);
    max-width: 1100px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px #6E3C5F;

}

.foot-wrapper {
    background-image: linear-gradient(to top, #EACC8C, #EBB231);
    max-width: 1100px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 5px 5px #D69508;

}

.title {
    background-color: #799DAA;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;    
    box-shadow: 5px 5px #02485f;
    overflow: hidden;
}

@media (min-width: 1100px) {
    #header {
    position: sticky; top: 0;
    }
}

.imagediv {
    padding: 10px;
    text-align: center;
    padding: 20px;
    width: 25%;
}

.intro {
    text-align: center;
    padding: 30px;
    margin-right: 20px;
}

.profilepic {
    border-radius: 0px 40px;
    border: 7px solid #02485f;
    width:200px;
}

@media (max-width: 1100px) and (min-width: 750px) {
    #header {
        font-size: .6em;
    }
    .profilepic {
        width: 200px !important;
        border-radius: 0px 75px;
        border: 5px solid #02485f !important;
    }
}

@media (max-width: 749px) {
    #header {
        font-size: .4em;
    }
    .profilepic {
        width: 100px !important;
        border-radius: 0px 30px;
        border: 3px solid #02485f !important;
    }
}

.about {
    border: 3px dashed #6E3C5F; 
    padding: 20px; margin: 0px 100px;
}

.skills {
    border: 3px dashed #6E3C5F; 
    padding: 20px; margin: 0px 100px;
}

.work {
    border: 3px dashed #6E3C5F; 
    padding: 20px; margin: 0px 100px;
}

.foot {
    padding: 50px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 3em;
    font-family: Great Vibes;
}

h2 {
    margin-top: 0;
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
    margin-top: 0;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 5px
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .8em;
}

a {
    text-decoration: none;
    color: #774127;
}

/* Scroll Animation */

/* .title {
    scale: 1 .5;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    position: fixed;
    overflow: hidden;
}

@keyframes title {
    to { scale: 0 0; }
} */

/* Footer Styles  */
#attribution {
    color: #D69508;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#attribution a {
    color: inherit;
    text-decoration: none;
}