.portfolio-bg {
    background: url(images/embossed.png);
    background-repeat: repeat;
}

.bodybg {
    background-color: #DDE2DB;
    width: 1200px;
    margin: -12px auto;
}

.title {

}


.project {
    margin-left: 20px;
    width: 500px;
}

.projectimg {
    width: 250px;

}

.profilepic {
    border-radius: 45px 0px;
    box-shadow: -20px -20px #6E3C5F;
    border: 7px solid #6E3C5F;
}

h1, h2, h3, h4, h5, h6 {
    
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 6em;
    font-family: Allura;
}

h2 {
    margin-top: 0;
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
    margin-top: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #774127;
}

img {
    border-radius: 0px 0px 20px 20px;
    width: 1150px;
    margin: 0 20px;
    box-shadow: 3px 3px #89516B;
}